.notes {

    &__row {
        @extend %row;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    &__card {
        @extend %col-6;

        padding: calc(var(--gutter-width) / 2);
    }
}