.toggle {
    @extend %transition;

    position: relative;
    left: 0;
    width: 40px;
    height: 25px;
    padding: 5px;
    cursor: pointer;

    &__icon {
        position: relative;
        display: block;
        width: 30px;
        height: 15px;
    }

    &__line {
        @extend %transition;

        position: absolute;
        display: block;
        height: 2px;
        background-color: var(--white);
        transition: .4s;

        &:nth-child(1) {
            top: 0;
            width: 100%;
        }

        &:nth-child(2) {
            top: calc(50% - 1.5px);
            width: 60%;
        }

        &:nth-child(3) {
            top: calc(50% - .5px);
            width: 60%;
        }

        &:nth-child(4) {
            top: 13px;
            width: 90%;
        }

        ^&[data-active="true"] & {
            background-color: var(--orange);

            &:nth-child(1) {
                transform: translateY(-14px);
                opacity: 0;
            }

            &:nth-child(2) {
                width: 100%;
                margin-top: 1px;
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                width: 100%;
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                transform: translateY(14px);
                opacity: 0;
            }
        }
    }
}
