%page-header {
    /**/
}

%page-title {
    margin: 0;
    font-size: var(--font-size-extrasmall);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    color: var(--gray-500);
}

%block-title {
    /**/
}

%h1 {
    /**/
}

%h2 {
    /**/
}

%h3 {
    /**/
}

%h4 {
    /**/
}

%h5 {
    /**/
}

%h6 {
    /**/
}
