%more {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    color: var(--black);
    font-size: var(--font-size-extrasmall);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid var(--black);

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        margin-top: -4.5px;
        width: 5px;
        height: 5px;
        border-top: 1.5px solid var(--black);
        border-right: 1.5px solid var(--black);
        transform: rotate(45deg);
    }

    &:hover {
        color: var(--red);
        border-color: var(--red);

        &::after {
            border-color: var(--red);
        }
    }
}
