.form-checkbox {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: var(--font-size-extrasmall);

    &__password {
        padding-left: var(--input-padding-x);
        font-size: var(--font-size-extrasmall);
        text-transform: initial;
        text-decoration: none;
        cursor: pointer;
    }

    @add-mixin media-breakpoint-down sm {
        margin-bottom: 25px;
    }
}
