.modal {
    @extend %transition;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;

    &[data-active="true"] {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        border-radius: 5px;
        background-color: var(--gray-500);
    }

    &__title {
        margin-top: 0;
    }

    &__button {
        @extend %btn-default;
    }
}